<!-- TODO Style the SIGNUP form accoding to LOGIN-->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Signup Form</h4>
                        <p class="card-category">Using JWT Token</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                            <h3 align="center">Signup</h3>
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control" placeholder="Enter email"
                                    formControlName="email" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Enter password"
                                    formControlName="password" />
                            </div>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" placeholder="Enter first name"
                                    formControlName="first_name" />
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" placeholder="Enter last name"
                                    formControlName="last_name" />
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary">Signup</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>