<div class="container" fxLayout="row" fxLayoutAlign="space-around center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h3 align="center">Login</h3>
            <div class="form-group" fxLayout="row">
                <label fxLayout="row" fxFlex="30" for="email">Email Address</label>
                <input type="email" class="form-control" placeholder="Enter email" formControlName="email" />
            </div>
            <div class="form-group" fxLayout="row">
                <label fxLayout="row" fxFlex="30" for="password">Password</label>
                <input type="password" class="form-control" placeholder="Enter password" formControlName="password" />
            </div>
            <br />
            <button fxLayout="row" type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>